.row {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-bottom: 16px;;
    }
    & > span:first-child {
        font-size: 14px;;
        margin-bottom: 5px;
        text-decoration: underline;
        font-weight: bold;
    }
}